# Metallicity Switchboard

In [1]:
import astropy.units as u
import astropy.constants as ac
from astropy.cosmology import FlatLambdaCDM
import numpy as np
import pandas as pd
import os
from os.path import expanduser
from astropy.table import Table
from glob import glob
from O3N2 import*

In [2]:
# gala is a data table of Final_galinfo.csv file which 
# is a subset of data from the galaxyinfo.xlsx data from CGM^2

galaxy = pd.read_csv('../test/Final_galinfo.csv')

galaxy.index += 2   # This is so the subset of data matches the exact 
                    # index value of the galaxyinfo.xlsx data

galaxy.to_numpy()   # This turns the DataFrame into a NumPy array.

galaxy[:2]

,specfile,id,OBJECT,cgm_name,gal_ra,gal_dec,z,OII_flux,OII_flux_sig,OII_LQ,...,NII_flux,NII_flux_sig,NII_LQ,SIIa_flux,SIIa_flux_sig,SIIa_LQ,SIIb_flux,SIIb_flux_sig,SIIb_LQ,Comment
2,J022601.51+001532.5.fits,J022601.51+001532.5._03,J0226+0015,J0226+0015_271_194,36.506302,0.25904,0.352715,-99.0,-99.0,-99.0,...,1.120000e-17,2.570000e-18,1.0,1.290000e-17,7.990000e-19,1.0,1.760000e-18,1.140000e-18,1.0,NaN
3,J022602.41+001536.6.fits,J022602.41+001536.6._01,J0226+0015,J0226+0015_272_181,36.510059,0.26017,0.297832,-99.0,-99.0,-99.0,...,-9.900000e+01,-9.900000e+01,-99.0,-9.900000e+01,-9.900000e+01,2.0,-9.900000e+01,-9.900000e+01,2.0,NaN

### This notebook is mainly a framework. It would be ideal if your individual functions returned a NumPy array that is the same length as 'galaxy' (n=782), indexed correctly, values that can be calculated are dtype=float, values that cannot be calculated are (np.nan). The bold print cells below represent functions that need to be written.

## Calculate 'O3HB'

-Add column 'O3HB' to 'galaxy'

## Calculate 'N2'

-Add column 'N2' to 'galaxy'

## Calculate 'O3N2'

In [ ]:
O3N2(galaxy)

-Add 'O3N2' column to 'galaxy'

-Check 'O3N2' values

  IF O3N2 < 1.9

## Calculate 'Z_O3N2-'

ELSEIF O3N2 > 1.9

## Calculate 'Z_O3N2+'

-If 'O3N2' or 'O3HB' could not be calculated (NaN) and we only have N2 index then the equation for calculating 'Z_O3N2+' (when O3N2 > 1.9) can be used for calculating metallicity.

-If 'O3N2' or 'N2' could not be calculated (NaN) and we only have O3HB values:

*If there is no OII flux, then metallicity cannot be calculated, we're done.

*If there is OII flux then we need to use the R23 method

## Calculate R23

-From the conversation in the the last meeting (and please correct me if I'm wrong) I was under the impression that we are only going to use the R23 'Lower Branch' calculations only.

-Create a final 'Z' column combining all metallicity calculations.

-Create a 'Flag_Z' column

-Save to .csv